{% extends 'base.html.twig' %}

{% block title %}Formulaire de connexion à SPORT 64{% endblock %}

{% block body %}
    <div class="bg-secondary" id="title_form">Formulaire de connexion à la plateforme SPORT 64
        <div class="m-2 p-2">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
