{% extends 'base.html.twig' %}

{% block title %}

<h1>SPORT 64</h1>
{% endblock %}

{% block body %}

    <h2 class="homepage">Salle de sport ANGLET</h2>
  
    {% include "partials/_navbar.html.twig" %}
  <p>Je suis un paragraphe</p>

  

{% endblock %}