{% extends 'base.html.twig' %}

{% block title %}SPORT 64{% endblock %}

{% block body %}
  <h1>Coucou</h1>
    {% include "partials/_navbar.html.twig" %}
  <p>Je suis un paragraphe</p>

  

{% endblock %}
