{% extends 'base.html.twig' %}

{% block title %}SPORT 64{% endblock %}

{% block body %}
  <h1>Coucou</h1>

  <p>Je suis un paragraphe</p>

  <div class="btn-group-vertical">
  <button type="button" class="btn btn-primary">Ajouter une structure</button>
  <button type="button" class="btn btn-primary">Gérer les plannings d'équipes</button>
  <button type="button" class="btn btn-primary">Gérer les ventes de boissons</button>
  <button type="button" class="btn btn-primary">Gérer les locations de serviettes</button>
</div>

{% endblock %}
