{% extends 'base.html.twig' %}


{% block body %}

    <h2 class="homepage">Salle de sport ANGLET</h2>
  
    {% include "partials/_navbar.html.twig" %}
  <p>Je suis un paragraphe</p>

  

{% endblock %}