{% extends 'base.html.twig' %}


{% block body %}

    <h2 class="homepage">Structure salle de sport SPORT64</h2>
  

    <section class="container">
        <div class="row">
            <div class="col">
                <h3></h3>
            </div>
        </div>
    </section>


  

{% endblock %}