{% extends 'base.html.twig' %}


{% block body %}

    <h2 class="homepage">Structure salle de sport SPORT64</h2>
  

    <section class="container">
        <div class="row">
            <div class="col">
                <h3>SPORT 64</h3>
                <div>
                    <h2>SALLE DE BIARRITZ</h2>
                    <a href=""></a>
                </div>
                <div>
                    <h2>SALLE DE ANGLET 1</h2>
                </div>
                <div>
                    <h2>SALLE DE ANGLET 2</h2>
                </div>
                <div>
                    <h2>SALLE DE SAINT JEAN DE LUZ</h2>
                </div>




                <button type="button"><a href="{{ path('structureAnglet1') }}">Structure Anglet - Rue Jean Mouton</a></button>
            </div>
        </div>
    </section>


  

{% endblock %}