<h1 class="headerTitle">SPORT 64 - Rester en forme !</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="assets/images/logoS64.jpg" width="60px" height="50px" class="me-2">
    <a class="navbar-brand" href="/">SPORT 64</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">L'entreprise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">La franchise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Infos pratiques</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Tarifs</a>
            <a class="dropdown-item" href="#">Horaires</a>
            <a class="dropdown-item" href="#">Photos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">A propos</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Rechercher">
        <button class="btn btn-light my-2 my-sm-0" type="submit">Rechercher</button>
      </form>
      <div class="connect">
        <ul class="navbar-nav m-2 me-auto">
          {% if app.user %}
            {% if is_granted("ROLE_ADMIN") %}
              <button class="btn btn-dark m-2 my-sm-0" type="button">
                <a class="btn btn-info" href="{{ path('app_register') }}" role="button">Inscription d'un<br>nouvel utilisateur</a>
              </button>
              <button class="btn btn-dark ms-2 my-sm-0" type="button">
                <a class="btn btn-danger" href="{{ path('app_logout') }}" role="button" onclick="disconnectConfirm()">Se déconnecter</a>
              </button>
              {% else %}
                <button class="btn btn-dark ms-2 my-sm-0" type="button">
                  <a class="btn btn-danger" href="{{ path('app_logout') }}" role="button" onclick="disconnectConfirm()">Se déconnecter</a>
                </button>
                {% endif %}
          {% else %}
          <button class="btn btn-dark ms-2 my-sm-0" type="button">
            <a class="btn btn-success" href="{{ path('app_login') }}" role="button">Se connecter</a>
          </button>
          {% endif %}
          <img src="assets/images/logoS64.jpg" width="60px" height="50px" class="ms-3">
        </ul>
      </div>

    </div>
  </div>
</nav>