{% extends './base.html.twig' %}


{% block body %}

    <h2 class="homepage">PAGE DES STRUCTURES SPORT 64</h2>


    <p>Bienvenue sur la page du site de SPORT 64 pour les commerciaux !</p>

    <section class="container-fluid">
        <div class="col-3">
            <div class="row-2">
                <p>Structure Biarritz</p>
                <p>Structure Anglet</p>
                <p>Structure Saint jean de luz</p>
                <button type="button"><a href="{{ path('structureAnglet1') }}">Structure Anglet - Rue Jean Mouton</a></button>
            </div>
        </div>
    </section>



{% endblock %}