{% extends 'base.html.twig' %}


{% block body %}

    <h2 class="homepage">Salle de sport ANGLET - rue Montbrun - Page marketing</h2>


    <p>Bienvenue sur la page du site de SPORT 64 !</p>



{% endblock %}