<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SPORT 64{% endblock %}</title>
        <link rel="icon" href="../public/assets/images/icons8-strength-50.png">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        
        <!-- Feuilles de styles -->
        {% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">{% endblock %}
        <!-- Fichiers JS -->
        {% block javascripts %}
            <script src="{{asset('assets/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('assets/js/script.js') }}"></script>
        {% endblock %}
    </head> 
    <body>
    {% block header %}
        {% include "partials/_header.html.twig" %}
    {% endblock %}
        {% block body %}
            
        {% endblock %}
    </body>
</html>
